body {
  font-family: "SpaceMono Nerd Font Mono", "Satoshi", "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SpaceMono Nerd Font Mono", "Satoshi", "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
  color: #b298ff !important;
}

button {
  font-family: "SpaceMono Nerd Font Mono", "Satoshi", "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
}

html {
  font-family: "SpaceMono Nerd Font Mono", "Satoshi" !important;
  background: url("./back.png") no-repeat center center fixed !important;
  background-size: cover !important;
  min-height: 100vh !important;
}

h1 {
  font-family: "SpaceMono Nerd Font Mono", "Satoshi", "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
  color: #b298ff !important;
  font-weight: bold !important;
  margin-top: 30px !important;
  text-shadow: #000000 0px 0px 13px !important;
  text-align: center !important;
}

button {
  background-color: #000000;
  color: #bba4ff;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #b298ff !important;
  color: #000000 !important;
}

button:active {
  background-color: #b298ff;
  color: #000000;
}


div.stButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
}

img {
  transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
}

img:hover {
  transform: scale(1.1);
  opacity: 0.9;
  filter: brightness(1.2);
}

img:active {
  transform: scale(1.05);
  opacity: 0.8;
  filter: brightness(1);
}
div.stButton > button {
  background-color: #000000 !important;
  color: #bba4ff !important;
  border: none !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
}

div.stButton > button:hover {
  background-color: #b298ff !important;
  color: #000000 !important;
}

div.stButton > button:active {
  background-color: #b298ff !important;
  color: #000000 !important;
  transform: scale(0.98) !important;
}
